@charset "UTF-8";
@font-face { font-family: ExpensifyNeue; font-weight: 400; font-style: normal; src: url("/assets/fonts/ExpensifyNeue-Regular.woff2") format("woff2"), url("/assets/fonts/ExpensifyNeue-Regular.woff") format("woff"); }
@font-face { font-family: ExpensifyNeue; font-weight: 700; font-style: bold; src: url("/assets/fonts/ExpensifyNeue-Bold.woff2") format("woff2"), url("/assets/fonts/ExpensifyNeue-Bold.woff") format("woff"); }
@font-face { font-family: ExpensifyNewKansas; font-weight: 500; font-style: normal; src: url("/assets/fonts/ExpensifyNewKansas-Medium.woff2") format("woff2"), url("/assets/fonts/ExpensifyNewKansas-Medium.woff") format("woff"); }
@font-face { font-family: ExpensifyNewKansas; font-weight: 500; font-style: italic; src: url("/assets/fonts/ExpensifyNewKansas-MediumItalic.woff2") format("woff2"), url("/assets/fonts/ExpensifyNewKansas-MediumItalic.woff") format("woff"); }
* { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

* { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

html { line-height: 1; }
@media screen and (max-width: 800px) { html { scroll-padding-top: 80px; } }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: 400; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

html, body { height: 100%; min-height: 100%; background: #061B09; }

hr { background: #1A3D32; border: none; display: inline-block; width: 24px; height: 2px; margin: 0 0 16px; }

strong { font-weight: bold; }

em { font-style: italic; }

a { color: #5AB0FF; text-decoration: none; }
a img { display: block; }

h1, h2, h3, h4, h5, h6 { color: #E7ECE9; font-weight: bold; padding-bottom: 12px; }

h2, h3, h4, h5, h6 { margin-top: 20px; }

h1 { font-family: "ExpensifyNewKansas", "Helvetica Neue", "Helvetica", Arial, sans-serif; font-weight: 500; font-size: larger; }

h2 { font-size: large; }

p { padding-bottom: 20px; }

body, button, input, select, textarea { line-height: 1.4; font-weight: 400; font-family: "ExpensifyNeue", "Helvetica Neue", "Helvetica", Arial, sans-serif; font-size: 16px; color: #E7ECE9; }

button { border-radius: 12px; padding: 12px; font-family: "ExpensifyNeue", "Helvetica Neue", "Helvetica", Arial, sans-serif; font-size: 15px; font-weight: bold; }
button.success { background-color: #03D47C; color: #E7ECE9; width: 100%; border-radius: 100px; padding-left: 20px; padding-right: 20px; }
button.success:hover { background-color: #13c479; cursor: pointer; }
@media screen and (min-width: 800px) { button.success { width: auto; } }

#logo { width: 240px; padding: 80px; display: block; margin-left: auto; margin-right: auto; align-content: center; }

#lhn { position: fixed; background-color: #07271F; box-sizing: border-box; border-right-color: #1A3D32; border-right-width: 1px; border-style: solid; width: 100%; height: auto; }
#lhn.expanded { height: 100%; }
@media screen and (min-width: 800px) { #lhn { width: 320px; height: 100%; } }
@media screen and (min-width: 1120px) { #lhn { width: 420px; } }
#lhn ul, #lhn li { list-style: none; }
#lhn #lhn-content { overflow: auto; display: none; height: calc(100% - 100px); padding: 0 24px 24px 24px; }
#lhn #lhn-content .in-this-article { padding-top: 40px; display: block; }
@media screen and (min-width: 800px) { #lhn #lhn-content { display: block; height: calc(100% - 150px); padding: 0 44px 44px 44px; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ }
  #lhn #lhn-content::-webkit-scrollbar { display: none; } }
#lhn #lhn-content.expanded { display: block; }
#lhn #lhn-content .article-toc { margin-top: 20px; }
#lhn .lhn-header { padding: 24px; }
@media screen and (min-width: 800px) { #lhn .lhn-header { padding: 44px; } }
#lhn .lhn-header #header-button { position: absolute; display: block; }
@media screen and (min-width: 800px) { #lhn .lhn-header #header-button { display: none; } }
#lhn .lhn-header .logo { width: 160px; align-content: center; display: block; margin-left: auto; margin-right: auto; }
@media screen and (min-width: 800px) { #lhn .lhn-header .logo { width: 210px; align-content: normal; display: flex; margin-left: 0; margin-right: 0; } }
#lhn .icon-with-link { display: grid; grid-template-columns: 40px auto; cursor: pointer; align-items: center; }
#lhn .selected { cursor: auto; font-weight: bold; color: #E7ECE9; }
#lhn .hide { display: none; position: fixed; }

#content-area { display: flex; flex-direction: column; min-height: 100vh; margin-left: 0; padding: 80px 24px 0px 24px; }
@media screen and (min-width: 800px) { #content-area { margin-left: 320px; } }
@media screen and (min-width: 1120px) { #content-area { /* Same as the width of the lhn */ margin-left: 420px; padding: 52px 68px 0 68px; box-sizing: border-box; } }
@media screen and (min-width: 1600px) { #content-area { margin-left: 420px; /* On wide screens, the padding needs to be equal to
the view width, minus the content size, minus the lhn size, divided by two. */ padding: 52px calc((100vw - 1000px - 420px)/2) 0 calc((100vw - 1000px - 420px)/2); } }
#content-area ul, #content-area ol { margin-left: 24px; padding-bottom: 20px; }
#content-area h1.title { font-size: 2.25em; }
#content-area .article img { display: block; margin: 20px auto; border-radius: 10px; }
@media screen and (max-width: 800px) { #content-area .article img { width: 100%; height: 100%; max-width: auto; max-height: auto; } }
@media screen and (min-width: 800px) { #content-area .article img { max-width: -webkit-fill-available; max-height: -webkit-fill-available; } }
#content-area .article .img-wrap { display: flex; justify-content: space-around; flex-wrap: wrap; }
#content-area .article h2, #content-area .article h3 { font-family: "ExpensifyNewKansas", "Helvetica Neue", "Helvetica", Arial, sans-serif; }
#content-area .article blockquote { margin-top: 20px; margin-bottom: 20px; padding-top: 20px; padding-left: 5%; border-left: 5px solid #1B5744; }
#content-area .article blockquote em:before { content: "\“\a"; white-space: pre; font-size: 60px; line-height: 1em; color: #03d47c; }
#content-area .article blockquote p:first-child { font-size: large; font-family: "ExpensifyNewKansas", "Helvetica Neue", "Helvetica", Arial, sans-serif; opacity: 0.8; }

.link { display: inline; color: #5AB0FF; cursor: pointer; }
.link:hover { color: #B0D9FF; }

.lhn-items ol, .lhn-items ul { padding-left: 32px; }
.lhn-items ul, .lhn-items li { margin-bottom: 20px; /* Apply recursive style to add a margin to the nested items */ }
.lhn-items ul ul, .lhn-items ul li, .lhn-items li ul, .lhn-items li li { margin-top: 20px; cursor: pointer; }
.lhn-items .nested-treeview { margin-left: 40px; }
.lhn-items .selected-article { font-weight: bold; color: #E7ECE9; }
.lhn-items .home-link { padding-left: 40px; }

.cards-group { display: grid; grid-template-columns: auto; row-gap: 20px; column-gap: 20px; padding-bottom: 20px; }
@media screen and (min-width: 1120px) { .cards-group { grid-template-columns: 50% 50%; } }

.card { display: flex; flex-wrap: nowrap; border-radius: 16px; padding: 28px; font-weight: 700; cursor: pointer; color: #E7ECE9; background-color: #07271F; }
.card:hover { background-color: #06231c; }
.card .row { display: flex; flex-basis: 100%; }
.card .left-icon { display: flex; align-items: center; padding-right: 28px; }
.card .left-icon img { width: 64px; }
.card .right-icon { display: flex; align-items: center; padding-left: 16px; }
.card .submit-button { display: flex; align-items: center; margin-top: 16px; padding-left: 0; }
@media screen and (min-width: 1120px) { .card .submit-button { margin-top: 0; padding-left: 16px; } }
.card .body { display: flex; flex-wrap: nowrap; flex-direction: column; flex-grow: 2; }
.card h3.title { padding: 0; margin: 0; }
.card h3.title.with-margin { margin: 0 0 4px 0; }
.card p.description { padding: 0; margin: 0; font-weight: normal; }
.card p.description.with-min-height { min-height: 68px; }
@media screen and (min-width: 800px) { .card p.description.with-min-height { min-height: 48px; } }

.base-icon { width: 20px; height: 20px; }

.homepage h1 { margin-top: 0; padding-bottom: 20px; padding-top: 8px; }
@media screen and (min-width: 800px) { .homepage h1 { padding-top: 0px; } }
.homepage h2 { padding-bottom: 24px; }
.homepage p { margin-bottom: 20px; }
.homepage .cards-group { padding-bottom: 32px; }

.centered-content { height: 240px; text-align: center; font-size: larger; position: absolute; top: calc((100vh - 240px) / 2); width: 380px; right: calc((100vw - 380px) / 2); }
@media screen and (min-width: 800px) { .centered-content { width: 500px; right: calc((100vw - 500px) / 2); } }
.centered-content.with-lhn { right: calc((100vw - 380px) / 2); }
@media screen and (min-width: 800px) { .centered-content.with-lhn { right: calc((100vw - 320px - 500px ) / 2); } }
@media screen and (min-width: 1120px) { .centered-content.with-lhn { right: calc((100vw - 420px - 500px) / 2); } }
.centered-content div { margin-top: 8px; }
.centered-content strong { font-size: 20px; }
.centered-content .icon { width: 76px; padding: 28px; display: block; margin-left: auto; margin-right: auto; }

#floating-concierge-button-global { position: fixed; display: block; }
@media screen and (min-width: 800px) { #floating-concierge-button-global { display: none; } }

#floating-concierge-button-lhn { position: absolute; display: none; }
@media screen and (min-width: 800px) { #floating-concierge-button-lhn { display: block; } }

.get-help { flex-wrap: wrap; margin-top: auto; }

.floating-concierge-button { bottom: 2rem; right: 2rem; }
.floating-concierge-button img { width: 4rem; height: 4rem; }
.floating-concierge-button img:hover { filter: saturate(2); }

@media screen and (max-width: 800px) { .disable-scrollbar { overflow: hidden; } }

.page-footer { font-size: 15px; }
@media screen and (max-width: 1120px) { .page-footer { background: url("/assets/images/expensify-footer-logo--vertical.svg") no-repeat right 120px; background-size: 111px 618px; margin-right: -25px; } }
.page-footer h3 { color: #03D47C; font-size: 17px; font-weight: 700; margin-bottom: 16px; }
.page-footer ul { margin: 0px !important; padding: 0; }
.page-footer ul li { list-style-type: none !important; margin: 0 0 8px; }
.page-footer ul li a { color: #E7ECE9; display: block; padding: 4px 0; word-break: break-word; }
.page-footer ul li a:hover { color: #03D47C; }
.page-footer__social-icons { padding-bottom: 20px; }
.page-footer__social-icons a { color: #E7ECE9; display: inline-block; }
.page-footer__social-icons a:hover { color: #03D47C; }
.page-footer__fine-print { color: #AFBBB0; font-size: 10px; }
.page-footer__fine-print a { color: #5AB0FF; }
.page-footer__logo { margin-top: 40px; }
.page-footer__logo img { display: block; }
@media screen and (max-width: 1120px) { .page-footer__logo { display: none; } }
.page-footer__wrapper { margin: 0 auto; max-width: 1000px; padding: 64px 0 0; }
@media screen and (max-width: 800px) { .page-footer__wrapper { padding: 64px 0px 20px; } }
@media screen and (min-width: 1120px) { .page-footer .columns { display: flex; margin-left: -16px; margin-right: -16px; } }
.page-footer .column { margin-bottom: 40px; }
@media screen and (min-width: 1120px) { .page-footer .column { padding: 16px; width: 25%; } }
